body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#games-played {
    font-weight: bold;
}

#game-stats ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

#main-display {
    height: 5cm;
    background-color:pink;
    margin: 16px 0 0 0;
}

#message-section, #game-over-section {
    text-align: center;
    margin: 0 0 16px 0;
}

#game-content {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.game-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.player-input {
    padding: 0;

    border-radius: 100%;
}

#rock {
    background-color: lightcoral;
}

#paper {
    background-color: lightgoldenrodyellow;
}

#scissors {
    background-color: plum;
}

#lizard {
    background-color: lightgreen;
}

#spock {
    background-color: lightblue;
}

.player-input img {
    width: 75px;
    height: 75px;
}