:root {
    --header-bg: #0B132B;
    --header-text: #FCF7F8;
    --body-bg: #3A506B;
    --game-container-bg: #949a91;
    --game-header-bg: #252825;
    --game-display-bg: #d4d4d4;
    --choice-spinner-bg: white;
    --footer-bg: #131724;
    --footer-text: #FCF7F8;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--body-bg);

    justify-content: space-between;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 0;
}

.game-buttons, #game-over-section, #main-display, #game-stats {
    padding: 0px 12px;
}

.game-buttons {
    padding-bottom: 12px;
}

h3 {
    margin-top: 0;
    background-color: var(--game-header-bg);
    padding: 12px 6px;
    color: white;
}

.header, .footer {
    width: 100%;

    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px black;
}

.header {
    background-color: var(--header-bg);
}

.footer {
    background-color: var(--footer-bg);
}

a {
    color: var(--header-text);
}

.copyright {
    color: var(--footer-text);
}

.game-container {
    border-radius: 8px;
    width: 24em;

    background-color: var(--game-container-bg);
    box-shadow: 0px 0px 8px 0px black;
}

h3 {
    border-radius: 8px 8px 0 0;
    text-align: center;
    /* border-bottom-style: solid; */
    /* border-width: 1px; */
    /* border-color: grey; */
}

#games-played {
    font-weight: bold;
}

#game-stats ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

#main-display {
    /* height: 5cm; */
    background-color: var(--game-display-bg);
    margin: 16px 0 0 0;

    padding: 5px;
}

#round-tracker, .scores {
    display: flex;
    gap: 32px;

    align-items: center;
}

#round-tracker {
    justify-content: center;
}

.scores {
    gap: 5px;
}

.score {
    height: 15px;
    width: 15px;

    background-color: #b7b7b7;
    border-style: solid;
    border-width: 1.5px;
    border-color: slategray;
    border-radius: 100%;

    box-shadow: 0px 0px 4px black;

    transition-duration: 0.15s;
    transition-property: all;
}

.score.pipglow {
    background-color: yellow;
    border-color: goldenrod;

    box-shadow: 0px 0px 4px purple;
}

.name {
    text-align: center;
}

.player-name {
    margin-right: auto;
}

.computer-name {
    margin-left: auto;
}

.player-name, .computer-name {
    font-weight: bold;
    width: 72px;
}

#game-over-section {
    text-align: center;
    margin: 0 0 16px 0;
}

#game-content {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.game-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.player-input {
    padding: 0;

    border-radius: 50%;
}

.rock, .display.rock {
    background-color: lightcoral;
}

.paper, .display.paper {
    background-color: lightgoldenrodyellow;
}

.scissors, .display.scissors {
    background-color: plum;
}

.lizard, .display.lizard {
    background-color: lightgreen;
}

.spock, .display.spock {
    background-color: lightblue;
}

.zombie, .display.zombie {
    background-color: burlywood;
}

.LHC, .display.LHC {
    background-color: lightgrey;
}

img {
    stroke-width: 14px;
}

.player-input img {
    width: 75px;
    height: 75px;
}

#battle-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info img {
    height: 70px;
}

#combat-segment {
    display: flex;
    justify-content: space-between;

    gap:2px;

    margin: 16px 16px;
}

.display {
    width: 75px;
    height: 75px;

    background-color: var(--choice-spinner-bg);
    border-radius: 8px;
}

#computer-segment {
    display: flex;
    justify-content: space-between;
}

.combat-display {
    margin-top: -1cm;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.lock-input {
    background-color: #e1e1e1;
}

.combat-state {
    font-weight: bold;

    font-size: 40px;
}

#message-section {
    text-align: center;
}

.next-round {
    background-color: #7eff5e;
    padding: 8px 14px;

    border-color: #4caf50;
    font-weight: bold;
    font-size: 15px;

    margin-top: 10px;
    border-radius: 8px;
}

.hidden {
    visibility: hidden
}

.display {
    transition-duration: 0.15s;
    transition-property: background-color, border-radius, box-shadow;
}

.display.anim-radius {
    border-radius: 50%;
    box-shadow: 0 0 12px black;
}

.header .inner {
    width: 28em;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul {
    gap: 30px;
}

.header a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}